doctype html
html(lang="en")
  include partials/head
  body
    .container
      h1 #{pageTitle}
      .history-container
        if records.length > 0
          each record in records
            .record
              h2 Diary for #{record.date}
              p #{record.diary}
        else
          p No records found.
      
      .button-container
        a.btn.btn-primary(id="createAutobiographyButton") Create Autobiography
        a.btn.btn-secondary(href="/my_autobiography") View Autobiography
        a.btn.btn-secondary(href="/") Back to Recorder

      #loading-indicator(style="display: none;")
        .spinner
          .double-bounce1
          .double-bounce2
        p Loading, please wait...

    include partials/footer
    script(type="module" src="/assets/js/historiesScripts.js")