doctype html
html(lang="en")
  include partials/head

  body
    main
      .container
        h1 Welcome to My Life Recorder
        p Capture your journey, one moment at a time. Start writing your story today and create a beautiful tapestry of memories.
        .buttons
          a.btn.btn-primary(href="/login") Log In
          a.btn.btn-secondary(href="/signup") Sign Up
    
    include partials/footer