footer
  .footer-content
    .quote-section.mt-2
      p.random-quote.w-100.text-overflow-ellipsis #{getRandomQuote()}
    .copyright-section
      p.text-center © #{new Date().getFullYear()} My Life Recorder